<div class="container layout-row layout-fill layout-align-center-center">
  <div class="layout-column main-content">
    <div class="title">
      <h1>Bravoer BBQ</h1>
      <h2>3 september 2017</h2>
    </div>
    {{outlet}}
  </div>
</div>
