{{#paper-form onSubmit=(action "submit") enterToSubmit=true as |form|}}
  <div class="layout-row layout-align-center">
    <div class="layout-column flex-100">
      {{form.input label="Naam" value=name onChange=(action (mut name)) required=true}}
      <div class="layout-row layout-align-center">
        <p>komt met</p>
        {{#paper-select options=amounts selected=amount onChange=(action (mut amount)) as |option|}}
          {{option}}
        {{/paper-select}}
        <p>{{#if (eq amount 1)}}persoon{{else}}personen{{/if}}</p>
      </div>
    </div>
  </div>
  <div class="layout-row">
    <div class="layout-column flex-100">
      <p>en neemt mee:</p>
      {{form.input label="Welke groente(n)/dessert ga je maken?" value=vegetable onChange=(action (mut vegetable))}}
    </div>
  </div>
  <div class="layout-row layout-align-center">
    {{#form.submit-button raised=true accent=true disabled=form.isInvalid}}Inschrijven{{/form.submit-button}}
  </div>
{{/paper-form}}
